<!DOCTYPE html>
<html lang="pl_PL" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <style type="text/css">
        body {margin: 2em 2em auto 2em; max-width: 50em;}
    </style>

    <title>Tabela produktów</title>

</head>

<body>

<table class="table table-striped">
    <thead class="thead-light">
        <tr>
            <th>Produkt</th>
            <th>Cena</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="product: ${products}">
            <td th:text="${product.name}">Brak danych</td>
            <td th:text="${product.price}">-</td>

        </tr>
    </tbody>
</table>

<p><span>Suma cen: </span><span th:text="${sum}"></span><span> zł</span>

</body>
</html>